[11:10:25 AM] Hung Cuong Nguyen: anh gui lai code check
[11:10:31 AM] Hung Cuong Nguyen: // check for selected_or_first_available_variant
function testFreegiftsLoaded{{ product.id }}(callback) {
  var freegiftloaded{{ product.id }} = setInterval(function () {
    if(typeof SECOMAPP !== 'undefined' && typeof SECOMAPP.showFreegiftProduct ==='function'){
      clearInterval(freegiftloaded{{ product.id }});
      callback();
    }
  }, 25);
};




testFreegiftsLoaded{{ product.id }}(function(){
  SECOMAPP.showFreegiftProduct({{ product.id }},{{ product.selected_or_first_available_variant.id}});
});
//
[11:10:40 AM] Hung Cuong Nguyen: update them field productid nữa
[11:11:08 AM] Hung Cuong Nguyen: code trên là cho product.liquid với cả quickview nhé
[11:11:21 AM] Hung Cuong Nguyen: còn code này trong làm selectCallback:
[11:11:23 AM] Hung Cuong Nguyen: //Freegifts's code inside selectCallback:
    if(typeof SECOMAPP !== 'undefined' && typeof SECOMAPP.showFreegiftProduct ==='function'){      
      SECOMAPP.showFreegiftProduct(selector.product.id, variant.id);
    }
//end Freegifts code


//
[3:57:59 PM] Hung Cuong Nguyen: Shopify.showModal = function(contents,hideDelay) {
.............................

//Autoclose the modal
    var magnificPopup = $.magnificPopup.instance;
    Shopify.modalTimer = window.setTimeout(function(){
        if(typeof magnificPopup !== 'undefined' 
           &&  $.magnificPopup.instance.content.html().indexOf(contents) >= 0){
            magnificPopup.close();
        }
    }, hideDelay);

}
[3:58:12 PM] Hung Cuong Nguyen: anh them diem kien nay vao: &&  $.magnificPopup.instance.content.html().indexOf(contents) >= 0

{%raw%} {% assign content_for_header = content_for_header | remove : "cdn.secomapp.com\/freegifts\/app\/ausblick.myshopify.com_1448896456.js?shop=ausblick.myshopify.com" %} {%endraw%}

{% assign content_for_header = content_for_header | remove : "cdn.secomapp.com\/quickview\/assets\/cdn\/sca-qv-scripts-noconfig.js?shop=dung1.myshopify.com" %} 
{{ content_for_header }}