{%if item.variant.metafields.secomapp.freegifts%}
 <br>
{% assign product = item.product%}
<div id='scafg-poption-container'>
	<select id="product-select" name="line" style="display:none">
	<option selected="selected" value="{{forloop.index}}"></option>
	</select>
{% include 'shappify-options' %}
  <br>
  <input type="button" id='scafg-poption'  class="btn"  value="update" />
 
  </div>

 <script>
       $('#scafg-poption').click(function (){
	       $.ajax({
		       type: 'post',
		       dataType: 'text',
		       data: $('#scafg-poption-container :input').serialize (),
		       url: '/cart/change.js',
		       success: function() {
		             location.reload();
		       }
			})
        });
   $(document).ready(function () {
     setTimeout(function(){ pojQuery('#shapp_options_{{product.id}}' ).closest("form").off();}, 5000);
   		
   });
   
</script>



{%endif%}