{%include 'sca_freegift_price' with product %}


{%include 'sca_freegift_price' with item %}



{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

{%endunless%}
{%endunless%}

product.avai / item.avai	-	sca_product_avai
product.price / item.price  -   sca_price
product.compare / item.compare		-	sca_compare
product.variants.size   /  product.variants | size   -	sca_product_variantCount


sca_product_available

product_title:
<div style="position:relative;"> {{ product.title }} <div name="secomapp-fg-image-{{ product.id }}" style="display: none;"> {{ "icon-freegift.png" | asset_url | img_tag: "Free Gift", "sca-fg-img-label" }} </div> </div>

product_freegift_div:
<div class="sca-fg-cat-list" style="display: none;" name="secomapp-fg-data-{{ product.id }}"> </div>

collection_prod_img: style="position: relative; display: block;"
<div name="secomapp-fg-image-{{ product.id }}" style="display: none;"> {{ "icon-freegift.png" | asset_url | img_tag: "Free Gift", "sca-fg-img-label" }} </div>
<div class="sca-fg-cat-list" style="display:none;" name="secomapp-fg-data-{{ product.id }}" prod-show='list'> </div>

href=     {%if item.variant.metafields.secomapp.freegifts%}{{ item.product.url }}{%else%}{{ item.url }}{%endif%}
title=    | remove: '/ Default Title'| remove: 'Default Title' | remove: '/ Default' | remove: 'Default' | replace: '(Freegifts)', '' 
qtl=      {%if item.variant.metafields.secomapp.freegifts%}readonly{%endif%} 

{{ 'sca.freegift.css' | asset_url | stylesheet_tag }}

<script>if (typeof Shopify === "undefined") var Shopify = {}; Shopify.cart = {{ cart | json }};</script> 
<div id="freegift_cart_container" name="sca.fg.cart" class="sca-fg-cart-container" style="display: none;">
  <div id="freegift_message" class="owl-carousel"></div>
</div> 
<div id="sca-fg-slider-cart" style="display: none;">
  <div class="sca-fg-cart-title">
    <strong>Select your free gift (s)</strong>
  </div>
  <div id="sca_freegift_list" class="owl-carousel"></div>
</div>
<div id="sca_fg_cart">
</div>


<script>
var freegifts_product_json=function(a){if(a){String.prototype.endsWith||Object.defineProperty(String.prototype,"endsWith",{value:function(a,b){var c=this.toString();(void 0===b||b>c.length)&&(b=c.length),b-=a.length;var d=c.indexOf(a,b);return-1!==d&&d===b}});for(var b=function(a){for(var b in a)if(a.hasOwnProperty(b))return!1;return!0},c=a.price,d=a.price_max,e=a.price_min,f=a.compare_at_price,g=a.compare_at_price_max,h=a.compare_at_price_min,i=0;i<a.variants.length;i++){var j=a.variants[i],k=null!==j.option3?j.option3:null!==j.option2?j.option2:j.option1;"undefined"!=typeof SECOMAPP&&"undefined"!=typeof SECOMAPP.gifts_list_avai&&!b(SECOMAPP.gifts_list_avai)&&"undefined"!=typeof SECOMAPP.gifts_list_avai[j.id]||k.endsWith("(Freegifts)")||k.endsWith("% off)")?(a.variants.splice(i,1),i-=1):(d>=j.price&&(d=j.price,c=j.price),e<=j.price&&(e=j.price),j.compare_at_price&&(g>=j.compare_at_price&&(g=j.compare_at_price,f=j.compare_at_price),h<=j.compare_at_price&&(h=j.compare_at_price)),1==j.available&&(a.available=!0))}a.price=c,a.price_max=e,a.price_min=d,a.compare_at_price=f,a.compare_at_price_max=h,a.compare_at_price_min=g,a.price_varies=e>d?!0:!1,a.compare_at_price_varies=h>g?!0:!1}return a};
var sca_product_info = freegifts_product_json ( {{product | json }} );


if(sca_product_info.variants.length===1 && sca_product_info.variants[0].title.indexOf('Default')!==-1 ){
  jQuery('.single-option-selector:eq(0)').hide();
  jQuery('.selector-wrapper').hide();
}
//chu y trong truong hop no add lable the nay moi dung:
{% if product.options.size == 1 and product.options.first != 'Title' %}
  $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first | escape }}</label>');
{% endif %}

</script>

ajaxify.js:

if ((typeof Shopify) === 'undefined') { Shopify = {}; }

if ((typeof SECOMAPP) === 'undefined') { SECOMAPP = {}; }
 
    //Freegift's code  
      SECOMAPP.preShowPopup = function(){
        hideModal();
      };
    //end Freegift's code

createQtySelectors



///////////////////////////
header
<script type="text/javascript">
  var SECOMAPP = SECOMAPP||{};
  SECOMAPP.check_gift_avaiable_status = true;
  jQuery.getJSON('/search.json?q=*&view=sca.freegifts.json',function(data){
    if(!jQuery.isEmptyObject(data)){
      SECOMAPP.gifts_list_avai = data;
    }
  });
</script>
///////////////////////

SQL:

SELECT A . * , B . * 
FROM stores AS A
INNER JOIN shops AS B ON A.store_name = B.myshopify_domain
WHERE A.activate_at IS NOT NULL 
AND access_token IS NOT NULL 
ORDER BY A.activate_at DESC , A.id DESC 
LIMIT 0 , 100


///////////////////////
{% assign isFreeGift=false %}
{% for tag in product.tags %}
   {% if tag =='SECOMAPP_FREEGIFT'%}
      {% assign isFreeGift=true %}
   {% endif %}
{% endfor %}
{% if isFreeGift == false %}
   {% include 'product-loop' with collection.handle %}
{% endif %}

if ((typeof Shopify) === 'undefined') { Shopify = {}; }
Shopify.getCart = Shopify.getCart || function(callback) {
  jQuery.getJSON('/cart.js', function (cart, textStatus) {
    if ((typeof callback) === 'function') {
      callback(cart);
    }
    else {
      Shopify.onCartUpdate(cart);
    }
  });
};
/================================================cartCallback/$('button',$row).attr("data-id")
if ((typeof SECOMAPP) === 'undefined') { SECOMAPP = {}; };
try {
	 	if(typeof SECOMAPP.precheck_checkout ==='function' 
           && (typeof SECOMAPP.enableOverrideCheckout ==='undefined' || SECOMAPP.enableOverrideCheckout === true)
           && (typeof subscription_on ==='undefined' || subscription_on ===false)) {
            $("input[name=\'checkout\']").click(SECOMAPP.precheck_checkout);
            $("button[name=\'checkout\']").click(SECOMAPP.precheck_checkout);
            $("input[name=\'goto_pp\']").click(SECOMAPP.precheck_checkout);
            $("button[name=\'goto_pp\']").click(SECOMAPP.precheck_checkout);
            $("input[name=\'goto_gc\']").click(SECOMAPP.precheck_checkout);
            $("button[name=\'goto_gc\']").click(SECOMAPP.precheck_checkout);
            $("a[href$=\'checkout\']").click(SECOMAPP.precheck_checkout);
            $("a[href$=\'checkout/\']").click(SECOMAPP.precheck_checkout);
        }
} catch (e) {
	console.log(e);
}


//disable chechout override
<script type="text/javascript">
  if ((typeof SECOMAPP) === 'undefined') { SECOMAPP = {}; };
  SECOMAPP.enableOverrideCheckout = false;
</script>

//////////////
if (item.title) {
			item.title = item.title.replace('(Freegifts)','').replace('Default Title','')
		}
 
 /////////////
 navigation:true,
    navigationText: [
      "<i class='icon-chevron-left icon-white'><</i>",
      "<i class='icon-chevron-right icon-white'>></i>"
      ],
 
///////////////////////////////////
$.ajax({
				      type: 'get',
		          dataType: 'text',
				       url: '/cart',
				      success: function(result) {
		                result = result.replace(/<script\b[^<]*(?:(?!<\/script>)<[^<]*)*<\/script>/gi, '');
		                 var intermediate = $('<div/>').html(result);
		                 $('#CartButton .cart-count').text($('#CartButton .cart-count',intermediate).text());
		              }
		})
		
//Freegifts's code inside selectCallback:
if(typeof SECOMAPP !== 'undefined' && typeof SECOMAPP.showFreegiftProduct ==='function'){      
  SECOMAPP.showFreegiftProduct(variant.id);
}
//end Freegifts code

//------------------------- integrate for product options -----------------------------
{%if item.variant.metafields.secomapp.freegifts%}
                 <br>
                {% assign product = item.product%}
                <div id='scafg-poption-container'>
               		<select id="product-select" name="line" style="display:none">
	              		<option selected="selected" value="{{forloop.index}}"></option>
                	</select>
                <div style='display:none' id='shappify_custom_options_{{ product.id }}'></div>
                   {{ 'bolddebugs.js' | asset_url | script_tag }}
                  <br>
                  <input type="button" id='scafg-poption'  class="btn"  value="update" />
                 
                  </div>
                
                 <script>
                   $('#scafg-poption').click(function (){
                     $.ajax({
				        type: 'post',
                        dataType: 'text',
		          		data: $('#scafg-poption-container :input').serialize (),
				        url: '/cart/change.js',
				        success: function() {
		                location.reload();
		              }
					})
                   });
                  </script>
                {%endif%}